<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Angular UI Project command Line* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * ng new WebApiCoreAngular // create Angular UI* * * * * * * * * * -->
<!--  * * * * * * * * ng serve // run Angular UI * * * * * * * * * -->
<!--  * * * * * * * * ng g class shared/Employee // create class Employee within shared folder * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Angular UI Project command Line* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * ng new WebApiCoreAngular // create Angular UI* * * * * * * * * * -->
<!-- * * * * * * * * * * ng serve // run Angular UI * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
