<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Angular UI Project command Line* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * ng new WebApiCoreAngular // create Angular UI* * * * * * * * * * -->
<!--  * * * * * * * * ng serve // run Angular UI * * * * * * * * * -->
<!--  * * * * * * * * ng g class shared/Epmloyee --type=model // create model class Epmloyee within shared folder * * * * * * * * * -->
<!--  * * * * * * * * ng g s shared/Employee // create service class Epmloyee within shared folder * * * * * * * * * -->
<!-- ng g c employee-details // create employee-details component class -->
<!-- ng g c employee-details/employee-form // create employee-form component class -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <app-employee-details></app-employee-details>
</div>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Angular UI Project command Line* * * * * * * * * * * -->
<!-- * * * * * * * * * * * * ng new WebApiCoreAngular // create Angular UI* * * * * * * * * * -->
<!-- * * * * * * * * * * ng serve // run Angular UI * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
